extends layout

block scripts  
  script(src='http://localhost:3000/js/script.js')
  script(src='http://localhost:3000/js/jquery-3.6.0.min.js')
// Assessment page. Entirely filled by DOM manipulation.
block content  
  section#main-section