extends layout

// Verbose error page. Shouldn't be used in production
block content
  section#main-section
    article#article
      h1#error #{error.status} #{message}
      p.section__highlighted-text #{error.stack}

