extends layout

// Page introducing user to HTML5
block content  
  section#main-section
    article#article
      h1 HTML5     
      if permissionlevel >= 3
        p.section__highlighted-text Sick! You've got admin privileges!
      p HTML5 is a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and last major HTML version that is a 
        a(href='w3c') World Wide Web Consortium (W3C)
        |  recommendation. The current specification is known as the HTML Living Standard. It is maintained by a consortium of the major browser vendors (Apple, Google, Mozilla, and Microsoft), the 
        a(href='w3c') Web Hypertext Application Technology Working Group (WHATWG).
      p HTML5 was first released in a public-facing form on 22 January 2008, with a major update and &quot;W3C Recommendation&quot; status in October 2014. Its goals were to improve the language with support for the latest multimedia and other new features; to keep the language both easily readable by humans and consistently understood by computers and devices such as web browsers, parsers, etc., without XHTML&apos;s rigidity; and to remain backward-compatible with older software. HTML5 is intended to subsume not only HTML 4 but also XHTML 1 and DOM Level 2 HTML. Learn more about HTML5&apos;s history 
        a(href='history') here.
      p HTML5 includes detailed processing models to encourage more interoperable implementations; it extends, improves, and rationalizes the markup available for documents and introduces markup and application programming interfaces (APIs) for complex web applications. For the same reasons, HTML5 is also a candidate for cross-platform mobile applications because it includes features designed with low-powered devices in mind.
      p Many new syntactic 
        a(href='features') features
        |  are included. To natively include and handle multimedia and graphical content, the new 
        code video
        | , 
        code audio
        |  and 
        code canvas
        |  elements were added, and support for scalable vector graphics (SVG) content and MathML for mathematical formulas was also added. To enrich the semantic content of documents, new page structure elements such as 
        code main
        | , 
        code section
        | , 
        code article
        | , 
        code header
        | , 
        code footer
        | , 
        code aside
        | , 
        code nav
        | , and 
        code figure
        |  are added. New attributes were introduced, some elements and attributes were removed, and others such as 
        code &lt;a&gt;
        | , 
        code &lt;cite&gt;
        | , and 
        code &lt;menu&gt;
        |  were changed, redefined, or standardized. The APIs and Document Object Model (DOM) are now fundamental parts of the HTML5 specification, and HTML5 also better defines the processing for any invalid documents. 
    aside#aside
      figure.section__figure
        img(src='img/html5.png', alt="An orangered shield with a large 5 depicted on it. The letters 'HTML' are floating above the shield.")
        figcaption The HTML5 logo.
      figure.section__figure
        img(src='img/example.PNG', alt='A few lines of HTML code that make up the starting layout of a website.')
        figcaption Example HTML code