extends layout

block content  
    section#main-section
      article#article.article--wide
        h1#w3c-head W3C
        p The World Wide Web Consortium (W3C) is the main international standards organization for the World Wide Web. Founded in 1994 and currently led by 
          a(href='bernerslee') Tim Berners-Lee
          | , the consortium is made up of member organizations that maintain full-time staff working together in the development of standards for the World Wide Web. As of 21 October 2019, W3C had 443 members. W3C also engages in education and outreach, develops software and serves as an open forum for discussion about the Web.
        h2#history History

        section#History
          p The World Wide Web Consortium (W3C) was founded in 1994 by Tim Berners-Lee after he left the European Organization for Nuclear Research (CERN) in October, 1994. It was founded at the Massachusetts Institute of Technology Laboratory for Computer Science (MIT/LCS) with support from the European Commission, the Defense Advanced Research Projects Agency (DARPA), which had pioneered the ARPANET, one of the predecessors to the Internet.
          p The organization tries to foster compatibility and agreement among industry members in the adoption of new standards defined by the W3C. Incompatible versions of HTML are offered by different vendors, causing inconsistency in how web pages are displayed. The consortium tries to get all those vendors to implement a set of core principles and components that are chosen by the consortium.
          p It was originally intended that CERN host the European branch of W3C; however, CERN wished to focus on particle physics, not information technology. In April 1995, the French Institute for Research in Computer Science and Automation (INRIA) became the European host of W3C, with Keio University Research Institute at SFC (KRIS) becoming the Asian host in September 1996. Starting in 1997, W3C created regional offices around the world. As of September 2009, it had eighteen World Offices covering Australia, the Benelux countries (Netherlands, Luxembourg, and Belgium), Brazil, China, Finland, Germany, Austria, Greece, Hong Kong, Hungary, India, Israel, Italy, South Korea, Morocco, South Africa, Spain, Sweden, and, as of 2016, the United Kingdom and Ireland.
          p In October 2012, W3C convened a community of major web players and publishers to establish a MediaWiki wiki that seeks to document open web standards called the WebPlatform and WebPlatform Docs.                     
          p In January 2013, Beihang University became the Chinese host.

        h2#specifications Specification maturation
        section#Specification
          p Sometimes, when a specification becomes too large, it is split into independent modules that can mature at their own pace. Subsequent editions of a module or specification are known as levels and are denoted by the first integer in the title (e.g. CSS3 = Level 3). Subsequent revisions on each level are denoted by an integer following a decimal point (for example, CSS2.1 = Revision 1).                     
          p The W3C standard formation process is defined within the W3C process document, outlining four maturity levels through which each new standard or recommendation must progress.               

        h2#WD Working draft (WD)                
        section#Working-draft
          p After enough content has been gathered from &apos;editor drafts&apos; and discussion, it may be published as a working draft (WD) for review by the community. A WD document is the first form of a standard that is publicly available. Commentary by virtually anyone is accepted, though no promises are made with regard to action on any particular element commented upon.
          p At this stage, the standard document may have significant differences from its final form. As such, anyone who implements WD standards should be ready to significantly modify their implementations as the standard matures.
               
        h2#CR Candidate recommendation (CR)
        section#Canditate-R
          p A candidate recommendation is a version of a standard that is more mature than the WD. At this point, the group responsible for the standard is satisfied that the standard meets its goal. The purpose of the CR is to elicit aid from the development community as to how implementable the standard is.                     
          p The standard document may change further, but at this point, significant features are mostly decided. The design of those features can still change due to feedback from implementors.

        h2#PR Proposed recommendation (PR)                
        section#Proposed-R
          p A proposed recommendation is the version of a standard that has passed the prior two levels. The users of the standard provide input. At this stage, the document is submitted to the W3C Advisory Council for final approval. While this step is important, it rarely causes any significant changes to a standard as it passes to the next phase.

        h2#REC W3C recommendation (REC)                
        section#W3C-R
          p This is the most mature stage of development. At this point, the standard has undergone extensive review and testing, under both theoretical and practical conditions. The standard is now endorsed by the W3C, indicating its readiness for deployment to the public, and encouraging more widespread support among implementors and authors.                     
          p Recommendations can sometimes be implemented incorrectly, partially, or not at all, but many standards define two or more levels of conformance that developers must follow if they wish to label their product as W3C-compliant.

        h2#laterrevisions Later revisions                
        section#Later-Revisions
          p A recommendation may be updated or extended by separately-published, non-technical errata or editor drafts until sufficient substantial edits accumulate for producing a new edition or level of the recommendation. Additionally, the W3C publishes various kinds of informative notes which are to be used as references.
               
        h2#certification Certification
        section#Certification
          p Unlike the ISOC and other international standards bodies, the W3C does not have a certification program. The W3C has decided, for now, that it is not suitable to start such a program, owing to the risk of creating more drawbacks for the community than benefits.
               
        h2#administration Administration
        section#Administration
          p The Consortium is jointly administered by the MIT Computer Science and Artificial Intelligence Laboratory (CSAIL, located in Stata Center) in the United States, the European Research Consortium for Informatics and Mathematics (ERCIM) (in Sophia Antipolis, France), Keio University (in Japan) and Beihang University (in China). The W3C also has World Offices in eighteen regions around the world. The W3C Offices work with their regional web communities to promote W3C technologies in local languages, broaden the W3C&apos;s geographical base and encourage international participation in W3C Activities.                     
          p The W3C has a staff team of 70&ndash;80 worldwide as of 2015. W3C is run by a management team which allocates resources and designs strategy, led by CEO Jeffrey Jaffe (as of March 2010), former CTO of Novell. It also includes an advisory board which supports in strategy and legal matters and helps resolve conflicts. The majority of standardization work is done by external experts in the W3C&apos;s various working groups.
          
        h2#membership Membership           
        section#Membership
          p The Consortium is governed by its membership. The list of members is available to the public. Members include businesses, nonprofit organizations, universities, governmental entities, and individuals.               
          p Membership requirements are transparent except for one requirement: An application for membership must be reviewed and approved by the W3C. Many guidelines and requirements are stated in detail, but there is no final guideline about the process or standards by which membership might be finally approved or denied. 
          p The cost of membership is given on a sliding scale, depending on the character of the organization applying and the country in which it is located. Countries are categorized by the World Bank&apos;s most recent grouping by GNI (&quot;Gross National Income&quot;) per capita.
       
        h2#criticism Criticism
        section#Criticism
          p In 2012 and 2013, the W3C started considering adding DRM-specific Encrypted Media Extensions (EME) to HTML5, which was criticised as being against the openness, interoperability, and vendor neutrality that distinguished websites built using only W3C standards from those requiring proprietary plug-ins like Flash. On September 18, 2017, the W3C published the EME specification as a recommendation, leading to the Electronic Frontier Foundation&apos;s resignation from W3C. As feared by the opponents of EME, as of 2020, none of the widely-used Content Decryption Modules used with EME is available for licensing without a per-browser licensing fee.
 
      aside#aside
        h2#standards Standards     
        section#Standards
          p W3C/IETF standards (over Internet protocol suite):           
          ul
            li ActivityPub, decentralized social networking protocol                    
            li CGI, dynamic server-side content standard                   
            li CSS                  
            li DOM               
            li EME, DRM modules integration standard             
            li GRDDL           
            li HTML, standard web markup language          
            li JSON-LD, linked data JSON extension          
            li MathML, mathematical notation markup language          
            li OWL        
            li P3P         
            li PROV
            li RDF, family of metadata standards   
            li SISR
            li SKOS       
            li SMIL       
            li SOAP        
            li SPARQL  
            li SRGS
            li SSML
            li SVG, vector image format            
            li VoiceXML            
            li WAI-ARIA                
            li WCAG
            li WebAssembly, portable binary format and assembly language                
            li WSDL              
            li XForms               
            li XHTML         
            li XHTML+Voice                 
            li XML          
            li XML Events 
            li XML Information Set          
            li XML Schema               
            li XPath              
            li XQuery         
            li XSL-FO       
            li XSLT         
            li XTiger
